<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/95e168f4-9c91-4d31-adef-10bf8e0cbaf1/resourceGroups/DatabaseResources/providers/Microsoft.Web/sites/ConnectedOffice35376759</ResourceId>
    <ResourceGroup>DatabaseResources</ResourceGroup>
    <ApiResourceId>/subscriptions/95e168f4-9c91-4d31-adef-10bf8e0cbaf1/resourceGroups/DatabaseResources/providers/Microsoft.ApiManagement/service/apim-project2-35376759/apis/connectedoffice</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://connectedoffice35376759.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>9d8a06e8-4d06-4d65-a607-6dea26c65a7e</ProjectGuid>
    <MSDeployServiceURL>connectedoffice35376759.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ConnectedOffice35376759</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ConnectedOffice35376759</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>